@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:60vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:10vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
.h1{
    color: #fff;
    background: rgba(255,255,255,.2);
    padding: 20px;
    font-size: 50px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.section{
        width: 100%;
        height: 100vh;
        background: linear-gradient(-45deg 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
        background-size: 400% 400%;
        position: relative;
        animation: animate 7.5s ease-in-out infinite;
        display: flex;
        justify-content: center;
        align-items: center;
}
/*boton durisimo*/
.button{
  display: inline-block;
  color: #333333;
  text-decoration: none;
  padding: 20px 50px;
  background-color: #ffff;
  border: 3px #ffff;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
.button:hover{
  animation: pulsate 1s ease-in-out;
}
@keyframes pulsate {
  0%{
    box-shadow: 
    0 0 25px #ffff, 
    0 0 50px #333333;
  }
}
.imagenes{
  border-radius: 10px;
  width: 300px;
  text-align: left;
  float: left;
}
/*BARRA DE NAVEGACION*/
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  
}
.navbar img{
  text-decoration: none;
  color: inherit;
  font-family: 'Lato', sans-serif;
  margin-right: 2vh;
  border-radius: 10px;
  font-size: 20px;
}
.navbar a{
  text-decoration: none;
  color: inherit;
  font-family: 'Lato', sans-serif;
  margin-right: 2vh;
  border-radius: 10px;
  font-size: 23px;
  padding: 5px 15px;
}
.navbar a:hover{
  animation: pulsate 1s ease-in-out;
}
@keyframes pulsate {
  0%{
    box-shadow: 
    0 0 25px #5a55ae, 
    0 0 50px #fff;
  }
}
.logo{
  margin-right: 50px;
  font-family: 'Lato', sans-serif;
  width: 90px;
  height: 90px;
  margin-left: 46%;
}

.logo img{
  width: 80px;
  margin-left: 8%;
  margin-top: 5px;
}
.list{
  list-style: none;
  display: flex;
  gap: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
#toggler,
.navbar label{
  display: none;
}
@media screen and
(max-width: 600px) {
  .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
  }
  #toggle:checked ~ .menu{
    max-height: 100px;
  }
}
/*SCROLLBAR*/
::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: transparent   ;
  border-radius: 5px;
}
